html,
body,
#root {
  /* height: 100vh;
  width: 100%; */
  height: 100%;
}
body {
  margin: 0px;
  font-family: "Barlow semi condensed";
  box-sizing: border-box;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@font-face {
  font-family: "Barlow semi condensed";
  src: url("./barlow-semi-condensed/BarlowSemiCondensed-Regular.ttf");
}
@font-face {
  font-family: "Barlow semi condensed - extra bold";
  src: url("./barlow-semi-condensed/BarlowSemiCondensed-ExtraBold.ttf");
}
@font-face {
  font-family: "Barlow semi condensed black";
  src: url("./barlow-semi-condensed/BarlowSemiCondensed-Black.ttf");
}
@font-face {
  font-family: "BarlowSemiCondensed-SemiBold";
  src: url("./barlow-semi-condensed/BarlowSemiCondensed-SemiBold.ttf");
}
.mainHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* height: 100%; */
}
.titleHolder {
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  margin-top: 50px;
  padding: 20px;
}
.titleName {
  text-wrap: wrap;
}
.scoreHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  border-radius: 5px;
}
.scoreTitle {
  color: hsl(229, 64%, 46%);
  font-size: small;
}
.scoreCount {
  color: hsl(229, 25%, 31%);
  font-size: xxx-large;
  font-family: "BarlowSemiCondensed-SemiBold";
}
.screen1Holder {
  width: 370px;
  background-image: url("./images/bg-triangle.svg");
  margin-top: 50px;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-position-x: 25px;
  max-width: 95%;
}
.screen1InnerHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: "./images/bg-triangle.svg";
}
.paperScissorHolder {
  display: flex;
  justify-content: space-between;
}
.rockHolder {
  display: flex;
  align-self: center;
  margin-top: 50px;
}
.gestureHolder {
  padding: 20px;
  border-radius: 100%;
}
.gestureHolder.blank {
  background-color: rgba(2, 2, 2, 0.2);
  height: 100px;
  width: 100px;
}
.gestureHolder.blank > .innerCircle {
  background: none;
  /* background-color: rgba(2, 2, 2, 0.2); */
}
.gestureHolder.paper {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.gestureHolder.scissors {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.gestureHolder.rock {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
/* border: 15px solid white; */
.gestureImage {
  width: 50px;
  height: 50px;
}
.innerCircle {
  background: white;
  border-radius: 100%;
  padding: 20px;
}

/* ////// */
.screen2Holder {
  display: flex;
  width: 40%;
  transition: all 0.5s;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.screen2Holder.moveWide {
  width: 60%;
  @media (max-width: 600px) {
    width: 78%;
  }
}
.screen1Holder .gestureHolder {
  cursor: pointer;
}
/* .screen1Holder .gestureHolder {
  border: solid 15px transparent;
  border-radius: 100%;
  position: relative;
  background-color: white;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -15px;
    border-radius: inherit;
    z-index: -1;
    content: "";
    background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  }
} */
/* .yourpickSection {
    display: flex;
    flex-direction: column;
} */
.yourpickTitle,
.housepickTitle {
  margin: 20px 0px;
  text-align: center;
  color: white;
}
.resultSection {
  width: 20%;
  text-align: center;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* @media (max-width: 600px) {
    order: 2;
  } */
}

.resultText {
  font-size: xx-large;
  text-wrap: nowrap;
  color: white;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: "BarlowSemiCondensed-SemiBold";
  font-size: xxx-large;
}
.playAgainBtn {
  /* height: 60px; */
  width: 100%;
  padding: 10px;
  text-wrap: nowrap;
  color: hsl(229, 64%, 46%);
  cursor: pointer;
  :hover {
    color: red;
  }
}

.rulesSection {
  align-self: flex-end;
  padding: 5px;
  margin-right: 5%;
}
.rulesContent {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgba(2, 2, 2, 0.5);
}
.rulesImgHolder {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rulesMobileClass {
  height: 100%;
}
.rulesMobileClass .rulesTitle {
  font-size: xxx-large;
}
.titleAndCloseHolder {
  display: flex;
  justify-content: space-between;
  /* align-self: flex-end; */
  margin-bottom: 5px;
}
.rulesTitle {
  font-weight: bolder;
  align-self: center;
  color: hsl(229, 25%, 31%);
  font-size: xx-large;
  font-family: "BarlowSemiCondensed-SemiBold";
}
.rulesCloseIcon {
  cursor: pointer;
  max-width: 40px;
  align-self: center;
}
.rulesBtn {
  appearance: none;
  background: none;
  background-color: none;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.resMobile {
  order: 2;
  flex: 1;
  padding: 0px 20%;
}
